<div class="hero-container">
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">patryk razny</h1>
      <p class="hero-subtitle">Software Engineer</p>
    </div>

    <div class="social-links">
      <p-button
        icon="pi pi-linkedin"
        [text]="true"
        [rounded]="true"
        severity="secondary"
        class="social-btn"
        (click)="openLink('https://linkedin.com/in/patry-krazny')">
      </p-button>
      <p-button
        icon="pi pi-github"
        [text]="true"
        [rounded]="true"
        severity="secondary"
        class="social-btn"
        (click)="openLink('https://github.com/prazny')">
      </p-button>
      <p-button
        icon="pi pi-envelope"
        [text]="true"
        [rounded]="true"
        severity="secondary"
        class="social-btn"
        (click)="openLink('mailto:kontakt@patryk-razny.pl')">
      </p-button>
    </div>
  </div>
</div>
<div style="height: 100px; width: 100px; background-color: red;">
  dwdfs
</div>
